
 <!-- New -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <h1><%= @place["name"] %></h1>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap Icons -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">

  <!-- My own CSS -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <nav class="navbar bg-primary mb-3" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand zebra" href="/">Places</a>
      <span class="navbar-text">
        <% if User.find_by({"id" => session["user_id"]}) != nil %>
          <h2>My Entries</h2>
          <% for entry in @entries %>
            <h3><%= entry["title"] %></h3>
            <h4><%= entry["occurred_on"] %></h4>
            <p><%= entry["description"] %></p>
          <% end %>
        <% else %>
          Login first.
        <% end %>

        <a href="/entries/new?place_id=<%= @place["id"] %>">New Entry</a>
        <a href="/places">Back to All Places</a>

      </span>
    </div>
  </nav>

  <div class="container">
    <% if flash["notice"] != nil %>
      <div class="alert alert-primary">
        <%= flash["notice"] %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>